<% layout('layouts/boilerplate') %>

    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="color text-center mb-3">Edit Product</h3>
                <form action="/meniu/cats/produs/<%=produs._id%>?_method=PUT" method="POST"
                    enctype="multipart/form-data" novalidate class="validated-form">
                    <div class="input-group mb-3">
                        <input type="text" name="produs[nume]" id="nume" class="form-control"
                            placeholder="Name" aria-describedby="basic-addon1" value="<%=produs.nume%>" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="produs[gramaj]" id="gramaj" class="form-control"
                            placeholder="Unit" aria-describedby="basic-addon1" value="<%=produs.gramaj%>" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="produs[pret]" id="pret" class="form-control"
                            placeholder="Price" aria-describedby="basic-addon1" value="<%=produs.pret %>" required>
                    </div>
                    <div class="input-group mb-3">
                        <label for="imagine" class="custom-file-upload mb-2">Image</label>
                        <input type="file" name="imagine" id="imagine" class="form-control"
                            placeholder="Image" aria-describedby="basic-addon1">
                    </div>
                    <!-- <div class="input-group mb-3">
                    <span class="input-group-text text-white bg-dark" for="video">URL</span>
                    <input type="text" name="produs[video]" id="video" value="<%=produs.video%>"class="form-control text-white bg-dark" placeholder="Youtube URL"
                        aria-describedby="basic-addon1">
                </div> -->
                    <div class="input-grup mb-3">
                        <label class="bg-transparent mb-2" for="cat"> Select category</label>
                        <select class="form-select" name="produs[categorie]"
                            aria-label="Default select example" id="cat">
                            <% for(let i=0; i<cats.length; i++) {%>
                                <option value="<%=cats[i]._id%>">
                                    <%=cats[i].nume%>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" name="produs[descriere]"
                            placeholder="Description" required><%=produs.descriere%></textarea>
                    </div>

                    <button class="btn btn-dark btn-lg mt-3">Edit</button>
                </form>
            </div>
        </div>
    </div>