<% layout('layouts/boilerplate') %>
<!-- <script src="/javascripts/cart.js" defer></script>  -->
<div class="row mt-5 mb-2">
    <div class="col-lg-6 offset-lg-3 text-white">
        <span style="font-size: 40px;">Bunătați</span>
    </div>
</div>

<% if(session.cart){%> 
<div class="row">
        <ul class="list-group">
            <%produse.forEach(function(produs) { %> 
            <li class="col-lg-6 offset-lg-3 list-group-item bg-transparent text-white border-white" style="--bs-border-opacity: .3;">
                <span class="badge bg-success mx-1"><%=produs.qty%> </span>
                <strong><%=produs.item.nume%></strong>
                <spam class="label label-success "> <%=produs.pret%> Lei</spam>
                <img src="<%=produs.img%>" style="width: 60px; height: 50px;" class="" alt="">
                <div class="counter">
                    <a href="/order/reduce-by-one/<%=produs.item._id%>" type="button" class="btn btn-sm mx-2">-1</a>
                    <a href="/order/add-by-one/<%=produs.item._id%>" type="button" class="btn btn-sm mx-2">+1</a>
                </div>
            </li>
            <% }) %> 
        </ul>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-2 offset-lg-3">
        <span class="badge bg-success mx-1"><%=session.cart.totalQty%></span>
        <strong class="total text-white">TOTAL <%=totalPrice%> Lei </strong>
    </div>
</div>

<form action="/order/checkout" method="post">
<hr class="col-lg-6 offset-lg-3">
<div class="col-lg-6 offset-lg-3 mt-2">
    <label for="timp" class="mb-2 text-white">În cât timp să fie gata?</label>
    <div class="input-group">
        <select class="form-select bg-transparent text-white" style="border-color: bisque;" type="number" name="timp" id="timp"
          aria-label="Example select with button addon" required>
          <option value="5">5 Min</option>
          <option selected value="10">10 Min</option>
          <option value="15">15 Min</option>
          <option value="30">30 Min</option>
        </select>
        <div class="valid-feedback">Looks Good!!</div>
      </div>
</div>
<hr class="col-lg-6 offset-lg-3">
<div class="col-lg-6 offset-lg-3 mt-2">
    <label for="comentarii" class="mb-2 text-white">Scrie-ne detalii despre comanda!</label>
    <textarea name="comentarii"  id="comentarii" class="form-control bg-transparent text-white mb-3" placeholder="Comentarii"></textarea>
</div>
<div class="row">
    <div class="col-lg-6 offset-lg-3">
            <button class="btn btn-sm">Comandă</button>
    </div>
</div>
</form>

<% } else {%> 
<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-white">Coșul de bunătăți este gol! Nu e bine mergi și pune ceva!</h2>
    </div>
    <% } %> 
</div>

