<% layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/stylesheets/meniu.css">
  <!-- <script src="/javascripts/meniu.js" defer></script> -->
  <div class="container-fluid col-lg-8 shadow" id="cont">
    <% cats.forEach(function(cat) {%>
      <h1 class="text-center color fw500 fs-1 mb-5">
        <%=cat.nume%>
      </h1>
      <% if(autUser && autUser.admin===flowerpower) {%>
        <a href="/meniu/cats/<%=cat._id%>/edit" class="color">Edit Cat</a>
        <% } %>
      <% cat.produs.forEach(function(produs, i){%>
        <%if(i%2===0) { %>
          <section class="container-fluid px-0">
            <div class="row align-items-center mb-3">
              <div class="col-md-4 order-1">
                <img src="<%= produs.imagine.path.replace('/upload', '/upload/w_300')%> " class="img-fluid rounded mb-3"
                  alt="..." id="img">
              </div>
              <div class="col-md-8 order-2 mb-2">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <span class="color fw400 fs-2">
                      <%=produs.nume%>
                    </span>
                    <br>
                    <span class="color fw400 fs-4">
                      <%=produs.pret%> Lei / <%=produs.gramaj%>
                    </span> <br>
                    <span class="color" style="font-size:18px;">
                      <%=produs.descriere%>
                    </span> <br>
                    <%if(cat.nume==="Espresso World" || cat.nume==="Black and White" || cat.nume==="Brew Coffee" )
                      {%>
                      <div class="row">
                        <div class="col-lg-6">
                          <form action="/order/add-to-cart/<%=produs._id%>" method="POST">
                            <label for="cafea" class="color">Pick Coffee</label>
                            <select name="cafea" id="cafea" class="color form-select form-select-sm mb-3 bg-transparent"
                              aria-label=".form-select-sm example">
                              <option value="Brazilia0">Brazil Agua Limpa</option>
                              <option value="Beshasha2">Ethiopia Beshasha + 2 Lei</option>
                              <option value="Danisa  3">Ethiopia Danisa + 3 Lei</option>
                              <option value="Tarrazu 4">Columbia Monteblanc + 4 Lei</option>
                            </select>
                            <button class="btn btn-sm fw400 mb-3 me-3" name="addButton">Add</button>
                          </form>
                          <a href="/meniu/cafea" id="detaliiCafea">About Coffee!</a>
                          <% if(autUser && autUser.admin===flowerpower) {%>
                          <a class='color' href="/meniu/cats/produs/<%=produs.id%>/edit">Edit</a>
                          <% } %>
                        </div>
                      </div>
                      <% } else {%>
                        <form action="/order/add-to-cart/<%=produs._id%>" method="POST">
                          <button class="btn btn-sm my-3" name="addButton">Add</button>
                        </form>
                       
                          <% if(autUser && autUser.admin===flowerpower) {%>
                          <a class='color' href="/meniu/cats/produs/<%=produs.id%>/edit">Edit</a>
                          <% } %>
                        <% } %>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <% } else{ %>
            <section class="container-fluid px-0">
              <div class="row align-items-center mb-3">
                <div class="col-md-4 order-1 order-md-2">
                  <img src="<%= produs.imagine.path.replace('/upload', '/upload/w_300')%> "
                    class="img-fluid rounded mb-3" alt="..." id="img">
                </div>
                <div class="col-md-8 order-2 order-md-1 mb-2">
                  <div class="row justify-content-center">
                    <div class="col-lg-10">
                      <span class="color fw400 fs-2">
                        <%=produs.nume%>
                      </span>
                      <br>
                      <span class="color fw400 fs-4">
                        <%=produs.pret%> Lei / <%=produs.gramaj%>
                      </span> <br>
                      <span class="color" style="font-size:18px;">
                        <%=produs.descriere%>
                      </span> <br>
                      <%if(cat.nume==="Espresso World" || cat.nume==="Black and White" || cat.nume==="Brew Coffee"
                        ) {%>
                        <div class="row">
                          <div class="col-lg-6">
                            <form action="/order/add-to-cart/<%=produs._id%>" method="POST">
                              <label for="cafea" class="color">Pick Coffee</label>
                              <select name="cafea" id="cafea"
                                class="color form-select form-select-sm mb-3 bg-transparent"
                                aria-label=".form-select-sm example">
                                <option value="Brazilia0">Brazil Agua Limpa</option>
                                <option value="Beshasha2">Ethiopia Beshasha + 2 Lei</option>
                                <option value="Danisa  3">Ethiopia Danisa + 3 Lei</option>
                                <option value="Tarrazu 4">Columbia Monteblanc + 4 Lei</option>
                              </select>
                              <button class="btn btn-sm fw400 mb-3 me-3" name="addButton">Add</button>
                            </form>
                            <a href="/meniu/cafea" id="detaliiCafea">About Coffee</a>
                            <% if(autUser && autUser.admin===flowerpower) {%>
                          <a class='color' href="/meniu/cats/produs/<%=produs.id%>/edit">Edit</a>
                          <% } %>
                          </div>
                        </div>
                        <% } else {%>
                          <form action="/order/add-to-cart/<%=produs._id%>" method="POST">
                            <button class="btn btn-sm my-3" name="addButton">Add</button>
                          </form>
                          <% if(autUser && autUser.admin===flowerpower) {%>
                          <a class='color' href="/meniu/cats/produs/<%=produs.id%>/edit">Edit</a>
                          <% } %>
                          <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <% } %>
              <% }) %>
                <% }) %>